body {
    margin: 0;
    font-family: Sans-Serif;
}

#header {
    background-color: #BFF1F2;
    height: 3rem;
    padding: 20px 10px;
    }

.logo {
    font-size: 52px;
}

.user a {
    float: right;
    font-size: 24px;
    display: block;
}

.menu {
    top: 10%;
    left: 50%;
}

h1 {
    width:50%;
    margin: 20px auto 5px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 8px #3ca3c1;
}

form {
    margin: 1.5rem auto 5px;
    width: 90%;
    max-width: 12rem;
    padding: 1rem;
    border-radius: 10px;
    font-size: 16px;
    background-color: #BFF1F2;
    box-shadow: 0 2px 8px #3ca3c1;
}

